@{
    Layout = "_Layout";
}
@using Library.Models;
@model Library.Models.Book

<h4>Edit this book entry</h4>

@using (Html.BeginForm())
{
    <div class="form-group">

    @Html.LabelFor(model =>model.Author)
    @Html.EditorFor(model => model.Author, new { @class = "form-control"})


    @Html.LabelFor(model =>model.Title)
    @Html.EditorFor(model => model.Title, new { @class = "form-control" })

    @Html.LabelFor(model =>model.Year)
    @Html.EditorFor(model => model.Year, new { @class = "form-control" })

    @Html.LabelFor(model =>model.ISBN)
    @Html.EditorFor(model => model.ISBN, new { @class = "form-control" })

    @Html.LabelFor(model =>model.Genre)
    @Html.EditorFor(model => model.Genre, new { @class = "form-control" })

    @Html.LabelFor(model =>model.Type)
    @Html.EditorFor(model => model.Type, new { @class = "form-control" })

    @Html.LabelFor(model =>model.Checkout)
    @Html.CheckBoxFor(model => model.Checkout, new { @class = "form-control", @checked = "false"})

    @Html.LabelFor(model =>model.Location)
    @Html.EditorFor(model => model.Location, new { @class = "form-control" })

    @Html.LabelFor(model =>model.MyRating)
    @Html.EditorFor(model => model.MyRating, new { @class = "form-control" })

   @Html.HiddenFor(model => model.BookId)
    </div>


    <input class="btn btn-danger"type="submit" value="Save changes!" />
}

<p>@Html.ActionLink("Back to library", "Index")</p>